<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Channel Data</title>
    
</head>
<body>
    <form method="post" action="/" id="channelForm">
        <label for="link">Channel Link:</label>
        <input type="url" name="link" id="link"> <br>
        
        <label for="username">Channel Handle:</label>
        <input type="text" name="handle" id="handle"> <br>

        <input type="hidden" name="selectedInput" id="selectedInput"> 

        <button type="submit">Submit</button>
    </form>
    <script src="script.js"></script>
</body>
</html>
