<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Channel Data</title>
</head>
<body>
    Wrong Username/Link! 
    <br>
    <a href="/">Click to Go Back!</a>
</body>
</html>