{% extends "layout.html" %}


{% block body %}

    <h2>Welcome, welcome, welcome. Thank you for stopping by this insignificant website to know about the quality of the air at your place. Don't worry, this website won't take a lot of time out of your
        great pilgrimage to surf the web.
    </h2>

    <form method="POST">
        Please satisfy your seemingly unstoppable urge to 'know your air' through the following form:
        <input type="text" autofocus autocomplete="on" placeholder="Place" name="place">
        <input type="submit" value="Submit">
    </form>

{% endblock %}
